# Ignore everything
*.*

# Except directories ...
!*/

# ... Code ...
!*.h
!*.cpp

# ... Images ...
!*.png
!*.jpg
!*.jpeg

# ... Markdown files ...
!*.md
!*.markdown

# ... Latex ...
!*.tex
!*.pdf

# ... And itself ...
!.gitignore
